name: Build Debian
on:
  workflow_dispatch:
jobs:
  push:
    name: "indra87g:debian-custom"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    #  matrix:
    #    oses:
     #     - alpine
      #    - debian
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
            image: tonistiigi/binfmt:qemu-v7.0.0-28
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/indra87g:debian-custom
